/* .vertical-text {
  transform: rotateX(90);
} */

main {
  display: flex;
  flex-flow: nowrap column;
}

section{
  display: flex;
  flex-flow: nowrap row;
}

div {
  width: 300px;
  height: 200px;
  background: #000;
  color: #0f0;
  font-size: 23px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: block; */
  transition: all 0.1s 1s ease;
  cursor: pointer;
}

.rotate:hover {
  transform: rotate(90deg);
}


.rotate-x:hover {
  transform: rotateX(90deg);
}

.rotate-y:hover {
  transform: rotateY(90deg);
}

.rotate-z:hover {
  transform: rotateZ(90deg);
}

/* x,y,z,deg */
/* 0~255  */
.rotate-3d:hover {
  transform: rotate3d(1, 1, 1, 90deg);
}

.rotate-3d-0:hover {
  transform: rotate3d(0, 0, 0, 90deg);
}

.rotate-3d-255:hover {
  transform: rotate3d(255, 255, 255, 90deg);
}


.rotate-3d-x:hover {
  transform: rotate3d(255, 0, 0, 90deg);
}

.rotate-3d-y:hover {
  transform: rotate3d(0, 255, 0, 90deg);
}

.rotate-3d-z:hover {
  transform: rotate3d(0, 0, 255, 90deg);
}
